*{
  margin: 0;
  padding: 0;
}

.app{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #2e2e2ede;
}

.buttonGenerate{
  background-color: #4a83ffee;
}